body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#0f172a,#020617);
    color:white;
    margin:0;
    padding:20px;
}

.container{
    max-width:950px;
    margin:auto;
    background:#111827;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 25px rgba(0,0,0,0.4);
}

h1{
    text-align:center;
    color:#38bdf8;
}

.subtitle{
    text-align:center;
    margin-bottom:25px;
    color:#cbd5e1;
}

.question{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;
    padding:12px;
    border-bottom:1px solid #1f2937;
    gap:20px;
}

.question-text{
    flex:1;
}

select{
    width:90px;
    padding:6px;
    border-radius:6px;
    background:#020617;
    color:white;
    border:1px solid #334155;
    text-align:center;
}

button{
    background:#38bdf8;
    color:black;
    padding:14px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    width:100%;
    margin-top:20px;
    font-weight:bold;
}

button:hover{
    background:#0ea5e9;
}

.result{
    margin-top:25px;
    padding:20px;
    background:#020617;
    border-radius:10px;
    display:none;
    line-height:1.6;
}

canvas{
    margin-top:30px;
    background:#020617;
    border-radius:10px;
    padding:10px;
}
