body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top,#0f172a,#020617);
    color:white;
}

.app{
    max-width:800px;
    margin:auto;
    padding:20px;
}

header{
    text-align:center;
    margin-bottom:25px;
}

h1{
    color:#38bdf8;
}

.questions{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.question-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0b1220;
    padding:14px 16px;
    border-radius:10px;
}

.question-text{
    flex:1;
    padding-right:15px;
}

select{
    width:70px;
    padding:6px;
    border-radius:6px;
}

.primary-btn{
    margin-top:25px;
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#38bdf8;
    color:black;
    font-size:18px;
    font-weight:bold;
}

.secondary-btn{
    margin-top:15px;
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
}

.result{
    margin-top:25px;
    background:#020617;
    padding:20px;
    border-radius:12px;
    display:none;
}

canvas{
    margin-top:25px;
    background:white;
    border-radius:10px;
}
